/* @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;} */

.App {
  padding-bottom: 90px;

  margin: 0 auto;
  /* padding: 0 20px;

    padding-bottom: ${props => props.theme.spacing(6)}; */
}
